MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=luma.cinemas21@gmail.com
MAIL_PASSWORD=ritk bijx vjoy ibzi
MAIL_FROM=luma.cinemas21@gmail.com
PASSWORD_RESET_SALT=luma-password-reset
RESET_CONFIRM_PHONE_LABEL=your phone
GOOGLE_CLIENT_ID=444521067065-r3vde4cjijq9f5b11p34ciqoie42s509.apps.googleusercontent.com
