{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash-pack.css') }}">
    <script src="{{ url_for('static', filename='js/flash-pack.js') }}"></script>
    <title>LUMA - User Dashboard</title>
{% endblock %}

{% block body %}
    <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

<header class="navbar">
    <div class="logoandname">
        <header class="head">
            <div class="image">
                <img src="{{ url_for('static', filename='assets/logo-removebg-preview.png') }}" class="logo" alt="Luma"></img>
            </div>
        </header>
    </div>
    <nav class="nav-links">
        <a href="#" class="active">HOME</a>
        <a href="#">ORDER</a>
        <a href="about">ABOUT</a>
        <a href="#">LIBRARIES</a>
        <a href="settings">SETTINGS</a>
    </nav>
    <div class="profile">L</div>
</header>

<main class="container">
    <div class="search-wrapper">
        <input type="text" placeholder="SEARCH . . .">
        <span class="search-icon">🔍</span>
    </div>

    <h2 class="section-title">MOST WATCHED</h2>

    <div class="movie-grid">
        {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ url_for('static', filename='uploads/' + movie.movie_image) }}" class="poster">
            
            <div class="movie-info">
                <h3>{{ movie.movie_name }}</h3>
                <p class="description">{{ movie.description }}</p>
            </div>

            <!-- Link to view_movie page -->
            <a href="{{ url_for('view_movie', movie_id=movie.id) }}" class="details-btn">SEE MORE</a>
        </div>
        {% endfor %}
    </div>
</main>

<script src="{{ url_for('static', filename='js/user_dashboard.js') }}"></script>
{% endblock %}